<h1>Wassup <%= @user.username %></h1>

<ul>
  <% @rounds.each do |round| %>
    <li><%= round.deck.name %></li>
    <li><%= round.created_at %></li>

    <li>Total guesses: <%= round.guesses.count %></li>
  <% end %>
</ul>
