<h1 class="main-header">Hey hello welcome hi</h1>

<div class="select-deck">
  This deck is <%= @deck.name %>



<form action="/decks/<%= @deck.id %>/rounds" method="POST">
  <button type="submit">Start Round</button>
</form>

</div>
