<h1 class="main-header">LETS PLAY A GAME:</h1>

<div class="select-deck">
  <p class="deck-id-header">This deck is all about <%= @deck.name %></p>


<form class="start-round-button" action="/decks/<%= @deck.id %>/rounds" method="POST">
  <button type="submit">Start here if you dare!</button>
</form>
</div>
